<?xml version="1.0"?>

<robot name="sensor_t265" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find realsense2_description)/urdf/_materials.urdf.xacro" />

    <xacro:macro name="sensor_t265" params="parent *origin name:=camera use_nominal_extrinsics:=false">

        <joint name="${name}_joint" type="fixed">
          <xacro:insert_block name="origin" />
          <parent link="${parent}"/>
          <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy = "0 0 0"/>
                <geometry>
                    <mesh filename="package://realsense2_description/meshes/t265.stl" />
                </geometry>
                <material name="grey">
                    <color rgba="0.5 0.5 0.5 1"/>
                </material>
            </visual>
        </link>
    </xacro:macro>
</robot>
